*{
   padding: 0%;
   margin: 0%;
   
}
.header{
   height: 100px;
}
.heading{
   padding-top: 20px;
   color: blue; 
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   font-weight: bold;
  
 
  /* width: 100px; */
}
.big_container{
   background-color: antiquewhite;
   display: flex;
   justify-content: center;
   align-items: center;
   
   height: 200px;

}
.small_container{
   padding-top: 15px;
  background-color: aqua;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 150px;
 
}
.bill,.chaalan,.quotation{
   width: 150px;
   color: white;
   height: 30px;

}
button{
   /* background-color: rgb(107, 103, 103); */
   border: 0cap;

}
button:hover{
   background-color: rgb(235, 0, 0);
   border: 0cap;

}